BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
Language: C
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: Never